

.about {
    line-height: 25px;
    margin: 20px 120px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 17px;
}

@media only screen and (max-width: 414px) {
    .about{
        margin: 20px 70px
    }
    .docum{
        margin: 20px 70px;
    }
}
h3 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
}

.docum, .about h4 {
    margin-top: 15px;
}
p{
    margin-top: 8px;
}

a {
    
    font-weight: bold;
    color: #e0e0e0;
}
a.active, a:hover{
    text-decoration: underline;
    background-color: #292929;
}
.docum {
    line-height: 25px;
    margin: 20px 120px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}


textarea {
    width: 60vw;
    resize: none;
}

textarea:focus {
    outline: none;
}
.val_attr{
    background-color: white;
    color: red;
    border-radius: 4px;
    /* margin-left: 10px;
    margin-right: 10px; */
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}


li{
    list-style: circle;
    list-style-type: disc;
    margin-left: 30px;
}