<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OMARKO-GOT-API ABOUT</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloock&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="icon" type="images/x-icon" href="../static/icon/GOTAPIICON.jpg">

<script src="https://kitfontawesome.com/a076d05399.js"></script>

</head> 
<body>
    <nav> 
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/documentation">Documentation</a></li>
        </ul>
    </nav>
    <!-- header created -->
    <div class="heading">
        <div class="header">
            <h1>OMARKO-GOT-API</h1>
            <h3>A GAME OF THRONE API</h3>
            <h3>INSPIRED BY <a href="https://swapi-api.alx-tools.com/">SWAPI API</a></h3>
        </div>
    </div>
    <div class="about">
        <h3>What Is This?</h3>
        <p>
            OMARKO-GOT-API is a Game Of Thrones API that returns Game Of Thrones data.
            <p>
            I am a big fan of Game of Thrones and movies in general, for my <a href="https://www.alxafrica.com/">ALX</a> portfolio project i always knew my project was going to be movie related.
            </p>
            
        </p>  

        <p> This project returns data in JSON format based on what is requested. You can check the <a href="/documentation">DOCUMENTATION</a> to get tips on how to use this application.</p>

        <h3>What Are The Features</h3>
        <p>
            Although the <a href="https://swapi-api.alx-tools.com/">original project</a> uses DJANGO and DJANGO REST Framework to serve the api, this one uses FLASK Framework to serve the api.
        </p>


        <h3>Original Project</h3>
        <p>
            You can check out the original project that inspired my project <a href="https://swapi-api.alx-tools.com">HERE</a>.
        </p>


        <h3>Why Mark Built This Project?</h3>
        <p>
            Mark is a massive fan of movies and for his alx-software engineering programme he wanted his portfolio project to reflect his love for movies.
        </p>
        
        <p>
            Luckily for me i came accross <a href="https://swapi-api.alx-tools.com">SWAPI-API</a> and i knew immediately what i
            wanted to do for my portfolio project.
        </p>
        
        <p>
            Being a big fan of Game Of Thrones it was only right for me to do this.
        </p>

        <h3>Who is Mark?</h3>
        <p>
            Mark is an aspiring fullstack developer currently participating in <a href="https://alxafrica.com">ALX SOFTWARE ENGINEERING PROGRAM.</a>
        </p>
        

        <h3>Copyright</h3>
        <ul>
            <li>This Project is inspired by <a href="https://swapi-api.alx-tools.com">SWAPI-API.</a></li>
            <li>Data is gotten from <a href="https://api.got.show/doc/">api.got.show</a> and <a href="https://gameofthrones.fandom.com/"> Game Of Thrones wiki.</a></li>
        </ul>


        <h3>Contributors</h3>
        <p> <a href="https://github.com/holic65"> OKOR OGHALE MARK</a> is the sole contributor to this project.</p>
    </div>
</body>
</html>