<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <met_txta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OMARKO-GOT-API DOCUMENTATION</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloock&family=Roboto:wght@100;400&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="icon" type="images/x-icon" href="../static/icon/GOTAPIICON.jpg">
    <script src="https://kitfontawesome.com/a076d05399.js"></script>

</head>

<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/documentation">Documentation</a></li>
        </ul>
    </nav>
    <!-- header created -->
    <div class="heading">
        <div class="header">
            <h1>OMARKO-GOT-API</h1>
            <h3>A GAME OF THRONE API</h3>
            <h3>INSPIRED BY <a href="https://swapi-api.alx-tools.com/">SWAPI API</a></h3>
        </div>
    </div>
    <div class="docum">
        <h3>Introduction</h3>
        <p>This documentation will be your guide on how to use OMARKO-GOT-API. It will show you how to request for data and explain what the data you've gotten means. Enojoy!</p>

        
        <h3>How To Use</h3>
        <p>
            To send your first request you can use the request tool in the <a href="/home">home page</a> or you can send a get request using curl or any other way you see fit
        </p>


        <div class="example">
            <textarea readonly class="example_txt" name="castle_5_req" cols="50" rows="2">curl "https://omarko-got-api.onrender.com/castles/10"</textarea> 
        </div>
        <p>You will get this response back</p>


        <div class="exampleresponse">
        <textarea readonly class="example_txt" name="" id="" cols="70" rows="19">
{
            "religion": [
            "Old Gods of the Forest"
            ],
            "founder": [
            "Brandon Stark (the Builder)"
            ],
            "name": "Winterfell",
            "location": "The North",
            "type": "CastleRegional capital",
            "age": 8000,
            "castle_id": 119,
            "holders": [
            "House Stark",
            "House Bolton",
            "House Greyjoy"
            ]
}
        </textarea>
        </div>


        <h3>ROOT URL</h3>
        <p>The root URL for all the api served is</p>
            <textarea readonly class="example_txt" name="castle_5_req"  cols="40" rows="2">curl "https://omarko-got-api.onrender.com/api/"</textarea>
        

        <h3>RESOURCES</h3>
        <p>Here is all the information on the API OMARKO-GOT-API gives you</p>
        
        <h3>Root</h3>
        <p>You can get information about api from the root</p>
        
        <h4>Example</h4>
            <textarea readonly class="example_txt" name="api_req" cols="40" rows="2">curl "https://omarko-got-api.onrender.com/api/"</textarea>


            <h4>Response</h4>
        <textarea readonly class="example_txt" name="api_res" cols="70" rows="8">
{
            "castles": "https://omarko-got-api.onrender.com/castles/",
            "houses": "https://omarko-got-api.onrender.com/houses/",
            "characters": "https://omarko-got-api.onrender.com/characters/",
            "seasons": "https://omarko-got-api.onrender.com/seasons/",
            "episodes": "https://omarko-got-api.onrender.com/episodes/"
}
        </textarea>
        <h4>Attributes</h4>
            <ul>
                <li><span class="val_attr">castles</span> <i>string</i> -- This is the URL for castle resources</li>
                <li><span class="val_attr">houses</span> <i>string</i> -- This is the URL for house resources</li>
                <li><span class="val_attr">characters</span> <i>string</i> -- This is the URL for character resources</li>
                <li><span class="val_attr">seasons</span> <i>string</i> -- This is the URL for season resources</li>
                <li><span class="val_attr">episodes</span> <i>string</i> -- This is the URL for episode resources</li>
            </ul>
        
        

        <h3>Castles</h3>
        <p> The Castles endpoint responds with castles in the Game Of Thrones World</p>

        <h4>Endpoints</h4>
        <li><span class="val_attr">/castles/</span> -- returns all castles data</li>
        <li><span class="val_attr">/castles/:id/</span> -- returns castle data with specific id</li>
    
        
        <h4>Example</h4>
        <textarea readonly class="example_txt" name="api_req" cols="40" rows="2">curl "https://omarko-got-api.onrender.com/castle/119/"</textarea>
        
        
        <h4>Response</h4>
        <textarea readonly class="example_txt" name="api_res" cols="70" rows="19">
{
            "religion": [
            "Old Gods of the Forest"
            ],
            "founder": [
            "Brandon Stark (the Builder)"
            ],
            "name": "Winterfell",
            "location": "The North",
            "type": "CastleRegional capital",
            "age": 8000,
            "castle_id": 119,
            "holders": [
            "House Stark",
            "House Bolton",
            "House Greyjoy"
            ]
}
        </textarea>
        <h4>Attributes</h4>
        <ul>
            <li><span class="val_attr">religion</span> <i>array</i> -- An array of the religion of holder of castle</li>
            <li><span class="val_attr">founder</span> <i>array</i> -- An array of founder of castle</li>
            <li><span class="val_attr">name</span> <i>string</i> -- Name of castle</li>
            <li><span class="val_attr">location</span> <i>string</i> -- Location of castle</li>
            <li><span class="val_attr">age</span> <i>int</i> -- Age of castle</li> 
            <li><span class="val_attr">castle_id</span> <i>int</i> -- Id used to fetch castle data</li>
            <li><span class="val_attr">holder</span> <i>array</i> -- Array containing holders of castle </li>
        </ul>

        

        <h3>Houses</h3>
        <p> The House endpoint responds with different houses in the Game Of Thrones World</p>
        <h4>Endpoints</h4>
        <li><span class="val_attr">/houses/</span> -- returns all house data</li>
        <li><span class="val_attr">/houses/:id/</span> -- returns house data with specific id</li>
        
        
        <h4>Example</h4>
        <textarea readonly class="example_txt" name="api_req" cols="40" rows="2">curl "https://omarko-got-api.onrender.com/houses/10/"</textarea>
        
        
        <h4>Response</h4>
        <textarea readonly class="example_txt" name="api_res" cols="70" rows="27">
{
            "titles": [
            "King in the North/King of Winter",
            "Lord of Winterfell",
            "Warden of the North",
            "King of the Trident"
            ],
            "overlords": [
            "House Baratheon of King's Landing",
            "House Bolton"
            ],
            "ancestralWeapon": [],
            "coatOfArms": "A running grey direwolf, on an ice-white field(Argent, a direwolf courant cendr\u00e9e)",
            "words": "Winter is Coming",
            "currentLord": "Queen Sansa Stark",
            "seat": "Winterfell",
            "region": "North",
            "founded": null,
            "founder": "Bran the Builder",
            "cadetBranch": "House Greystark",
            "heir": "Arya Stark",
            "isExtinct": false,
            "house_name": "House Stark",
            "house_id": 10
}
        </textarea>
        <h4>Attributes</h4>
        <ul>
            <li><span class="val_attr">title</span> <i>array</i> -- Array of house title</li>
            <li><span class="val_attr">overlords</span> <i>array</i> -- Overlords of house</li>
            <li><span class="val_attr">ancestralWeapon</span> <i>array</i> -- House ancestral weapon</li>
            <li><span class="val_attr">coatOfArms</span> <i>string</i> -- Coat of arm of house</li>
            <li><span class="val_attr">word</span> <i>string</i> -- Phrase use by house frequently</li>
            <li><span class="val_attr">currentLord</span> <i>string</i> -- Current lord of house</li>
            <li><span class="val_attr">seat</span> <i>string</i> -- House seat</li>
            <li><span class="val_attr">region</span> <i>string</i> -- Region house if from</li>
            <li><span class="val_attr">founded</span> <i>int</i> -- When house was founded</li>
            <li><span class="val_attr">founder</span> <i>string</i> -- Founder of house</li>
            <li><span class="val_attr">cadetBranch</span> <i>string</i> -- Branch of house</li>
            <li><span class="val_attr">heir</span> <i>string</i> -- Heir of house</li> 
            <li><span class="val_attr">isExtinct</span> <i>boolean</i> -- True if house is extinct else False</li>
            <li><span class="val_attr">house_name</span> <i>string</i> -- Hous_txte name</li>
            <li><span class="val_attr">house_id</span> <i>int</i> -- Id used to fetch house data </li>
        </ul>
        
        


        <h3>Characters</h3>
        <p> The character endpoint responds with different characters in the Game Of Thrones World</p>

        <h4>Endpoints</h4>
        <li><span class="val_attr">/characters/</span> -- returns all character data</li>
        <li><span class="val_attr">/characters/:id/</span> -- returns character data with specific id</li>
        
        

        <h4>Example</h4>
        <textarea readonly class="example_txt" name="api_req" cols="80" rows="2">curl "https://omarko-got-api.onrender.com/characters/1857/"</textarea>
        
        <h4>Response</h4>
        <textarea readonly class="example_txt" name="api_res" cols="70" rows="14">
{
        "titles": [
        "Lord Commander of the Night's Watch"
        ],
        "spouse": [],
        "children": [],
        "name": "Jon Snow",
        "gender": "male",
        "culture": "Northmen",
        "house": "House Stark",
        "alive": true,
        "character_id": 1857
}
        </textarea>
        <h4>Attributes</h4>
        <ul>
            <li><span class="val_attr">title</span> <i>array</i> -- An array containing character's titles</li>
            <li><span class="val_attr">spouse</span> <i>array</i> -- Spouse of character</li>
            <li><span class="val_attr">children</span> <i>array</i> -- Children of character</li>
            <li><span class="val_attr">name</span> <i>string</i> -- Name of character</li>
            <li><span class="val_attr">gender</span> <i>string</i> -- Gender of character</li>
            <li><span class="val_attr">culture</span> <i>string</i> -- Culture of character</li>
            <li><span class="val_attr">house</span> <i>string</i> -- House character belongs to</li>
            <li><span class="val_attr">alive</span> <i>boolean</i> -- True if character is alive or False if not</li>
            <li><span class="val_attr">character_id</span> <i>int</i> -- id used to fetch character data</li>
        </ul> 

        

        <h3>Season</h3>
        <p> The season endpoint responds with different seasons of the Game Of Thrones show</p>
        <h4>Endpoints</h4>
        <li><span class="val_attr">/seasons/</span> -- returns all seasons data</li>
        <li><span class="val_attr">/seasons/:id/</span> -- returns season data with specific id</li>
        
        

        <h4>Example</h4>
        <textarea readonly class="example_txt" name="api_req" cols="50" rows="2">curl "https://omarko-got-api.onrender.com/seasons/2/"</textarea>
        
        <h4>Response</h4>
        <textarea readonly class="example_txt" name="api_res" cols="70" rows="25">
{
            "season": 2,
            "episodes": 10,
            "premiere": "The North Remembers",
            "finale": "Valar Morghulis",
            "airDate": [
            "2012-04-1",
            "2011-06-3"
            ],
            "season_id": 2,
            "episodes_name": [
            "The North Remembers",
            "The Night Lands",
            "What Is Dead May Never Die",
            "Garden of Bones",
            "The Ghost of Harrenhal",
            "The Old Gods and the New",
            "A Man Without Honor",
            "The Prince of Winterfell",
            "Blackwater",
            "Valar Morghulis"
            ]
}
        </textarea>
        <h4>Attributes</h4>
        <ul>
            <li><span class="val_attr">season</span> <i>int</i> -- Season of Game of Thrones show</li>
            <li><span class="val_attr">episodes</span> <i>int</i> -- Number of episodes in season</li>
            <li><span class="val_attr">premiere</span> <i>string</i> -- Season premiere</li>
            <li><span class="val_attr">finale</span> <i>string</i> -- Season finale</li>
            <li><span class="val_attr">airDate</span> <i>array</i> --Array containing date aired and date ended</li>
            <li><span class="val_attr">season_id</span> <i>int</i> -- Id used to fetch data</li>
            <li><span class="val_attr">episodes_name</span> <i>array</i> -- Array containing names of episodes in season</li>
        </ul>

        
        
        <h3>Episodes</h3>
        <p> The episode endpoint responds with different episodes of the Game Of Thrones show</p>
        <h4>Endpoints</h4>
        <li><span class="val_attr">/episodes/</span> -- returns all episodes data</li>
        <li><span class="val_attr">/episodes/:id/</span> -- returns episode data with specific id</li>
        
        
        <h4>Example</h4>
        <textarea readonly class="example_txt" name="api_req" cols="50" rows="2">curl "https://omarko-got-api.onrender.com/episodes/2/"</textarea>
        
        <h4>Response</h4>
        <textarea readonly class="example_txt" name="api_res" cols="70" rows="23">
{
            "characters": [
            "Viserys Targaryen",
            "Catelyn Stark",
            "Cersei Lannister",
            "Jaime Lannister",
            "Eddard Stark",
            "Robert Baratheon",
            "Jorah Mormont",
            "Daenerys Targaryen",
            ...
            ]
            "director": "Tim Van Patten",
            "airDate": "2011-04-24",
            "season": 1,
            "name": "The Kingsroad",
            "predecessor": "Winter Is Coming",
            "successor": "Lord Snow",
            "total_episodes": 2,
            "episode": 2,
            "episode_id": 2
}
        </textarea>
        <h4>Attributes</h4>
        <ul>
            <li><span class="val_attr">characters</span> <i>array</i> -- Array of characters in this episode</li>
            <li><span class="val_attr">director</span> <i>string</i> -- Director of episode</li>
            <li><span class="val_attr">airDate</span> <i>string</i> -- Date episode aired</li>
            <li><span class="val_attr">Season</span> <i>int</i> -- Season episode belongs to</li>
            <li><span class="val_attr">name</span> <i>string</i>-- Name of episode</li>
            <li><span class="val_attr">predecessor</span> <i>string</i> -- Previous episode</li>
            <li><span class="val_attr">successor</span> <i>string</i> -- Next episode</li>
            <li><span class="val_attr">total_episodes</span> <i>int</i> -- Total episode number in all seasons</li>
            <li><span class="val_attr">episode</span> <i>int</i> -- Episode number in season it belongs to</li>
            <li><span class="val_attr">episode_id</span> <i>int</i> -- Episode Id used to fetch data</li>
        </ul>
</div>
</body>    
</html>
